@import "tailwindcss";

@import "../styles/variables.css";
@import "../styles/brand.css";
@import "../styles/layout.css";
@import "../styles/header.css";
@import "../styles/typography.css";
@import "../styles/cards.css";
@import "../styles/buttons.css";
@import "../styles/utilities.css";

/* Homepage */
@import "../styles/home.css";

/* Global Overrides */
@import "../styles/globals.css";
@import "../styles/footer.css";


/* Sabhi elements ka default margin aur padding zero karne ke liye */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(245, 247, 252); /* Page's Main Color */
}