/* =========================
   Prompt Grid
========================= */

.prompt-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 20px;

  width: 100%;
}


/* Tablet */

@media (max-width: 1023px) {

  .prompt-grid {
    grid-template-columns: repeat(2, 1fr);

    gap: 15px;
  }

}


/* Mobile */

@media (max-width: 767px) {

  .prompt-grid {
    grid-template-columns: 1fr;

    gap: 8px;
  }

}